* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movie-container {
  display: flex;
  flex-direction: column;
}

.genre {
  color: #010101;
  font-weight: bold;
  margin-top: 0px;
  font-size: 0.9rem;
}

.title {
  font-weight: bolder;
  color: azure;
  font-size: 1rem;
  margin-bottom: 1px;
}

.movie-container:hover {
  background: rgba(41, 43, 44, 0.35);
  transition-duration: 0.05s;
  filter: drop-shadow(0px 20px 43px #93cbf3);
}
